<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Real Love - Video</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/assets/favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="~/assets/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/favicon/favicon-16x16.png" />
    <link rel="manifest" href="~/assets/favicon/site.webmanifest" />
    <link rel="mask-icon" href="~/assets/favicon/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <!-- Embed Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet" />

    <!-- Styles -->
    <link rel="stylesheet" href="~/assets/css/main.css" />

    <!-- Script -->
    <script src="~/assets/js/script.js"></script>
  </head>
  <body>
    <header id="header">
        @await Html.PartialAsync("_Header")
    </header>

    <main>
      <!-- Section Video -->
      <section class="section">
        <div class="container max-width-100">
          <div class="section__top">
            <h2 class="section__heading">Xem video cưới cùng Real Love nào!</h2>
            <p class="section__desc">
                Phim cưới tại Real Love không chỉ là những thước phim ngắn, mà còn là những câu chuyện tình yêu đầy xúc cảm, nơi cô dâu và chú rể trở thành nhân vật chính trong bộ phim đặc biệt của chính mình. Từng khung hình được thực hiện với góc quay sáng tạo và hiện đại, khéo léo ghi lại những khoảnh khắc tự nhiên và chân thật nhất. Đội ngũ tại Real Love luôn chăm chút từng chi tiết, từ ánh sáng, màu sắc, đến cảm xúc của từng giây phút, nhằm tạo ra một tác phẩm nghệ thuật riêng biệt và đáng nhớ. Đây sẽ là một bộ phim mà mỗi khi xem lại, bạn không chỉ thấy mình, mà còn cảm nhận được toàn bộ hành trình yêu thương ngọt ngào đã qua.         
            </p>
          </div>
           <div class="video-gallery">
                <div class="video-block" data-video="https://www.youtube.com/embed/g1Mi-nJB7us?si=d3g5Ut4vhCkyT_z2">
                  <img class="thumbnail-video" src="https://img.youtube.com/vi/g1Mi-nJB7us/hqdefault.jpg" alt="Thumbnail 1" />
                  <img src="~/assets/icons/ytb-btn.png" alt="" class="play-youtube-btn">
                </div>
                <div class="video-block" data-video="https://www.youtube.com/embed/PZqjbD6WUx8?si=Av6RQX2ipa6pSF4b">
                  <img class="thumbnail-video" src="https://img.youtube.com/vi/PZqjbD6WUx8/hqdefault.jpg" alt="Thumbnail 2" />
                  <img src="~/assets/icons/ytb-btn.png" alt="" class="play-youtube-btn">
                </div>
                <div class="video-block" data-video="https://www.youtube.com/embed/g1Mi-nJB7us?si=vOKg7e_5ZUdXcaeF">
                  <img class="thumbnail-video" src="https://img.youtube.com/vi/CRBtjYp8IAE/hqdefault.jpg" alt="Thumbnail 3" />
                  <img src="~/assets/icons/ytb-btn.png" alt="" class="play-youtube-btn">
                </div>
                <div class="video-block" data-video="https://www.youtube.com/embed/-991xmNu9qk?si=Z2hCCeGX5_q7ibTL">
                  <img class="thumbnail-video" src="https://img.youtube.com/vi/-991xmNu9qk/hqdefault.jpg" alt="Thumbnail 4" />
                  <img src="~/assets/icons/ytb-btn.png" alt="" class="play-youtube-btn">
                </div>
                <div class="video-block" data-video="https://www.youtube.com/embed/UDx9rEzjeG4?si=AEeL9Ul1pIOMhTjH">
                  <img class="thumbnail-video" src="https://img.youtube.com/vi/UDx9rEzjeG4/hqdefault.jpg" alt="Thumbnail 5" />
                  <img src="~/assets/icons/ytb-btn.png" alt="" class="play-youtube-btn">
                </div>
                <div class="video-block" data-video="https://www.youtube.com/embed/NEkJOHJDsXM?si=bVElQMi6RqWhsSqt">
                  <img class="thumbnail-video" src="https://img.youtube.com/vi/NEkJOHJDsXM/hqdefault.jpg" alt="Thumbnail 6" />
                  <img src="~/assets/icons/ytb-btn.png" alt="" class="play-youtube-btn">
                </div>
                <div class="video-block" data-video="https://www.youtube.com/embed/iiucPjYCbmI?si=n7DeROT1X4WLaXrO">
                  <img class="thumbnail-video" src="https://img.youtube.com/vi/iiucPjYCbmI/hqdefault.jpg" alt="Thumbnail 7" />
                  <img src="~/assets/icons/ytb-btn.png" alt="" class="play-youtube-btn">
                </div>
                <div class="video-block" data-video="https://www.youtube.com/embed/-991xmNu9qk?si=I2yc2hHfEDh0M6-G">
                  <img class="thumbnail-video" src="https://img.youtube.com/vi/-991xmNu9qk/hqdefault.jpg" alt="Thumbnail 8" />
                  <img src="~/assets/icons/ytb-btn.png" alt="" class="play-youtube-btn">
                </div>
                <div class="video-block" data-video="https://www.youtube.com/embed/ooff9h0H-iU?si=ufwdjuwxUPZ0r2ZL">
                  <img class="thumbnail-video" src="https://img.youtube.com/vi/ooff9h0H-iU/hqdefault.jpg" alt="Thumbnail 9" />
                  <img src="~/assets/icons/ytb-btn.png" alt="" class="play-youtube-btn">
                </div>
                <div class="video-block" data-video="https://www.youtube.com/embed/229dXdTmDOo?si=3g3CH8OuRDtle37D">
                  <img class="thumbnail-video" src="https://img.youtube.com/vi/229dXdTmDOo/hqdefault.jpg" alt="Thumbnail 10" />
                  <img src="~/assets/icons/ytb-btn.png" alt="" class="play-youtube-btn">
                </div>
                <div class="video-block" data-video="https://www.youtube.com/embed/3weSvcZM8bU?si=aQD7vucYg9ow4A4W">
                  <img class="thumbnail-video" src="https://img.youtube.com/vi/3weSvcZM8bU/hqdefault.jpg" alt="Thumbnail 11" />
                  <img src="~/assets/icons/ytb-btn.png" alt="" class="play-youtube-btn">
                </div>
                <div class="video-block" data-video="https://www.youtube.com/embed/KdIvplFAnOY?si=FTCoolz2W5z2UALS">
                  <img class="thumbnail-video" src="https://img.youtube.com/vi/KdIvplFAnOY/hqdefault.jpg" alt="Thumbnail 12" />
                  <img src="~/assets/icons/ytb-btn.png" alt="" class="play-youtube-btn">
                </div>
                <div class="video-block" data-video="https://www.youtube.com/embed/pzS2biCvzz8?si=LhdV5MJuWIRlLsWZ">
                  <img class="thumbnail-video" src="https://img.youtube.com/vi/pzS2biCvzz8/hqdefault.jpg" alt="Thumbnail 13" />
                  <img src="~/assets/icons/ytb-btn.png" alt="" class="play-youtube-btn">
                </div>
                <div class="video-block" data-video="https://www.youtube.com/embed/nG7Z-AwMbmU?si=aYFs_xZaJYbhGGKU">
                  <img class="thumbnail-video" src="https://img.youtube.com/vi/nG7Z-AwMbmU/hqdefault.jpg" alt="Thumbnail 14" />
                  <img src="~/assets/icons/ytb-btn.png" alt="" class="play-youtube-btn">
                </div>
                <div class="video-block" data-video="https://www.youtube.com/embed/Q3ENkvw1IVk?si=w7AHS2AhsXkgFmNb">
                  <img class="thumbnail-video" src="https://img.youtube.com/vi/Q3ENkvw1IVk/hqdefault.jpg" alt="Thumbnail 15" />
                  <img src="~/assets/icons/ytb-btn.png" alt="" class="play-youtube-btn">
                </div>
                <div class="video-block" data-video="https://www.youtube.com/embed/QpX_EBgei7E?si=67zqywXZd7SbzEUH">
                  <img class="thumbnail-video" src="https://img.youtube.com/vi/QpX_EBgei7E/hqdefault.jpg" alt="Thumbnail 16" />
                  <img src="~/assets/icons/ytb-btn.png" alt="" class="play-youtube-btn">
                </div>
              </div>

              <!-- Modal -->
              <div class="video-modal" id="videoModal">
                <div class="video-modal-content">
                  <iframe id="modal-video" width="560" height="315" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
              </div>
        </div>
      </section>
    </main>

    <footer class="footer" id="footer">
        @await Html.PartialAsync("_Footer")
    </footer>
    @await Html.PartialAsync("play-music-btn")
    @await Html.PartialAsync("contact-buttons")
    <script src="~/assets/js/main.js"></script>
    <script src="~/assets/js/detail-album.js"></script>
    <script src="~/assets/js/album-page.js"></script>
  </body>
</html>
